* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Futura;
    text-align: center;
}

nav {
    position: fixed;
    padding: 1% 0;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #A6A9A9;
}

header {
    padding: 10% 0;
    background-color: #D7DCDC;
}

section {
    height: 200px;
    padding: 5% 0;
    background-color: #E8EAEA;
}

footer {
    background-color: #F5F5F5;
}